{% extends "base.html" %}

{% set page = 'admins' %}

{% block title %}
{% if user == "" %}
	New User
{% else %}
	User “{{user}}”
{% endif %}
{% endblock %}

{% block main %}
<div class="container">
	<div class="row">
		<div class="col s12">
			<form method="post">
				<div class="row">
					<div class="col s12 input-field">
						<input type="text" name="username" id="username" value="{{user}}" />
						<label for="username">Username</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12 input-field">
						<input type="password" name="password" id="password" />
						<label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<button class="btn waves-effect waves-teal right" type="submit">
						Submit <i class="material-icons right">send</i>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
